<div class="container">
  <div class="center_contents">
    <h1>Welcome to JAVASCRIPT RACER!</h1>

    <form id="start_race" action="/race" method="POST">
      Player 1:
      <select id="player1" name="player_ids[]">
        <% @players.each do |player| %>
        <option value="<%= player.id %>" label="<%= player.name %>"></option>
        <% end %>
      </select>
      <br>
      <br>
      Player 2:
      <select id="player2" name="player_ids[]">
        <% @players.each do |player| %>
        <option value="<%= player.id %>" label="<%= player.name %>"></option>
        <% end %>
      </select>
      <br>
      <br>
      <input type="submit" value="Race!">
    </form>

    <br>

    <% if @errors %>
    <div>
      <% @errors.full_messages.each do | message | %>
        <p style="color:red"><%= message %></p>
      <% end %>
    </div>
    <% end %>

    <a href="/register"><button>Register New Player</button></a>
  </div>
</div>

